.deleteUser {
    flex: 4;
    margin-left: 9%;
  }
  
  .deleteUserForm {
    display: flex;
    flex-wrap: wrap;
  }
  
  .deleteUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .deleteUserCheckbox {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .deleteUserItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  
  .deleteUserCheckbox > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  
  .deleteUserItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .deleteUserGender > input {
    margin-top: 15px;
  }
  
  .deleteUserGender>label{
      margin: 10px;
      font-size: 18px;
      color: #555;
  }
  
  .deleteUserSelect{
      height: 40px;
      border-radius: 5px;
  }
  
  .deleteUserButton{
      width: 200px;
      border: none;
      background-color: darkblue;
      color: white;
      padding: 7px 10px;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
  }