h4 {
  margin-left: 30px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.updateUserHeader {
  padding-left: 200px;
}

.updateUserWrapper {
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.updateUserForm {
  width: 300px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin-right: 50px;
}

.updateUserItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.updateUserItem > label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.outer {
  overflow: hidden;
  position: relative;
}
.inner {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -50px;
  top: 50px;
}

.updateUserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.AgingBucketSup {
  margin-left: 10px;
  margin-right: 35px;
}

.ProgramCodeSup {
  margin-left: 15px;
  margin-right: 50px;
}

.updateUserCheckbox {
  margin-left: 15px;
  margin-right: 45px;
}

.CompanySup {
  margin-left: 15px;
  margin-right: 35px;
}

.updateCompanyCheckbox {
  margin-left: 30px;
  margin-right: 50px;
}

.updateUserButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 50px;
    cursor: pointer;
}